@use 'base';

@use 'sass:color';

.recipe {
  background-color: base.$color-grey-light-1;
  overflow-x: hidden;

  ///////////
  // FIGURE
  &__fig {
    height: 32rem;
    position: relative;
    transform-origin: top;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right bottom,
        base.$color-grad-1,
        base.$color-grad-2
      );
      opacity: 0.6;
    }
  }

  &__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: #fff;
    font-weight: 700;
    font-size: 3.25rem;
    text-transform: uppercase;
    width: 50%;
    line-height: 1.95;
    text-align: center;

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      background-image: linear-gradient(
        to right bottom,
        base.$color-grad-1,
        base.$color-grad-2
      );
    }

    @media only screen and (max-width: base.$bp-medium) {
      width: 70%;
      font-size: 2.8rem;
    }

    @media only screen and (max-width: base.$bp-small) {
      width: 80%;
      font-size: 2.4rem;
      transform: translate(-50%, 10%) skewY(-3deg);

      span {
        padding: 1rem 1.5rem;
      }
    }
  }

  ///////////
  // DETAILS
  &__details {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 7.5rem 4rem 3.5rem 4rem;

    @media only screen and (max-width: base.$bp-medium) {
      padding: 6rem 3rem 3rem 3rem;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media only screen and (max-width: base.$bp-small) {
      padding: 4rem 1.5rem 3rem 1.5rem;
      display: grid;
      grid-template-columns: 1fr max-content;
      grid-template-rows: 1fr 1fr;
      grid-gap: 2rem;
      .btn--bookmark {
        grid-column: 2 / 2;
        justify-self: end;
        grid-row: 1 / 1;
      }
      &__user-generated {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
      }
    }
  }

  &__info {
    font-size: 1.65rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      // margin-right: 4.5rem;
    }

    @media only screen and (max-width: base.$bp-medium) {
      font-size: 1.4rem;
      margin-bottom: 1rem;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    @media only screen and (max-width: base.$bp-small) {
      font-size: 1.3rem;
      margin-bottom: 0;
      text-align: center;
      grid-column: 1 / 1;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  &__info-icon {
    height: 2.35rem;
    width: 2.35rem;
    fill: base.$color-primary;
    margin-right: 1.15rem;
  }

  &__info-data {
    margin-right: 0.5rem;
    font-weight: 700;
  }

  &__info-buttons {
    display: flex;
    align-items: center;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__user-generated {
    background-color: color.scale(base.$color-grey-light-2, $lightness: 2%);
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 10rem;

    svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: base.$color-primary;
    }
    @media only screen and (max-width: base.$bp-small) {
      margin-right: 0;
    }
  }

  ///////////
  // INGREDIENTS
  &__ingredients {
    padding: 5rem 8rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: base.$color-grey-light-2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: base.$bp-medium) {
      padding: 3rem 4rem;
      font-size: 1.4rem;
    }

    @media only screen and (max-width: base.$bp-small) {
      padding: 2rem 2rem;
      font-size: 1.3rem;
    }
  }

  &__ingredient-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 3rem;
    list-style: none;

    @media only screen and (max-width: base.$bp-small) {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }

  &__ingredient {
    display: flex;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: base.$color-primary;
    margin-right: 1.1rem;
    flex: 0 0 auto;
    margin-top: 0.1rem;
  }

  &__quantity {
    margin-right: 0.5rem;
    flex: 0 0 auto;
  }

  ///////////
  // DIRECTIONS
  &__directions {
    padding: 5rem 10rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: base.$bp-medium) {
      padding: 3rem 4rem;
    }

    @media only screen and (max-width: base.$bp-small) {
      padding: 2rem 2rem;
    }
  }

  &__directions-text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: base.$color-grey-dark-2;

    @media only screen and (max-width: base.$bp-medium) {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
    }

    @media only screen and (max-width: base.$bp-small) {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }
  }

  &__publisher {
    font-weight: 700;
  }
}
