@use 'base';

.search-results {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  grid-area: search;
}

.results {
  list-style: none;
}

.pagination {
  margin-top: auto;
  padding: 2rem 4rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
  @media only screen and (max-width: base.$bp-medium) {
    padding: 1.5rem 3rem;
  }

  @media only screen and (max-width: base.$bp-small) {
    padding: 2rem 1.5rem;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}
